<section class="content-header"></section>
<div class="row datatable-content-class custom-tables">

    <div class="col-xl-12">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Payments</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4 col-xl-4 ">
                            <p> <i> <b>No of Orders</b></i> : {{PaymentList.length}} </p>
                        </div>
                        <div class="col-sm-4 col-xl-4 ">
                            <p><b><i> Total Payment Pending of</i> : {{TotalPaymentClear}}/- </b></p>
                        </div>
                        <div class="col-sm-4 col-xl-4 ">
                            <p><b><i> No. Service Providers Payments</i> : {{ServiceProviders}} </b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6 col-xl-6">

                        </div>
                        <div class="col-md-6 col-xl-6 text-right">
                            <a> <button class="btn btn-success small-btn" type="button"
                                    (click)="exportReportToExcel()">Export
                                    <i class="mdi mdi-note-plus"></i></button> </a>
                            &nbsp; &nbsp;
                            <a> <button class="btn btn-primary small-btn" type="button" (click)="open3(content3)">Add
                                    <i class="mdi mdi-note-plus"></i></button> </a>
                        </div>
                    </div>


                </div>
                <div class="card-body">

                    <div class="search-div row">

                        <div class="col-xl-3 col-sm-3">
                            <select class="rows-records" (change)="Rows($event.target.value)">
                                <option selected value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="10000">10000</option>
                            </select>
                        </div>

                        <div class="col-xl-9 col-sm-9 text-right">

                            <div style="position: relative;">

                                <div class="provider-drop" *ngIf="ShowListing">
                                    <p (click)="SelectedProvider(provider.name, provider.id)"
                                        *ngFor="let provider of providerList"> {{provider.name}}</p>

                                    <p style="font-size: 10px;" *ngIf="providerList.length==0"> Provider not found using
                                        this name </p>
                                </div>

                            </div>

                            <input placeholder="Provider Name" type="text" class="custom-input"
                                [(ngModel)]="ProviderName" (input)="SearchSPName($event.target.value)">
                            &nbsp; &nbsp;

                            <input (input)="DateChange()" type="date" class="custom-input" [(ngModel)]="fromDate">
                            &nbsp; &nbsp;
                            <input (input)="DateChange()" type="date" class="custom-input" [(ngModel)]="toDate">
                            &nbsp; &nbsp;
                            <input class="search-api-n" type="text" placeholder="Search"
                                (input)="SearchSP($event.target.value)">
                        </div>



                    </div>


                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 50px;">Sr. No</th>
                                <th style="width: 60px;">Order Id</th>
                                <th style="width: 60px;">SP Name</th>
                                <th style="width: 60px;">Cust. Name</th>

                                <!-- <th>RZP Order Id</th> -->
                                <th>RZP Payment Id</th>

                                <!-- <th>RZP Payment Method</th> -->
                                <th>CSGT%</th>
                                <th>SGST%</th>
                                <th>IGST%</th>
                                <th>+ Tax</th>
                                <th>Total</th>
                                <th>Company Commission</th>
                                <th><i class="mdi mdi-arrow-up-bold"
                                        (click)="customSorting('up', 'provider_commission')"> </i>
                                    <i class="mdi mdi-arrow-down-bold"
                                        (click)="customSorting('down', 'provider_commission') "> </i>Provider Payment
                                </th>
                                <th>SP. Paid</th>
                                <!-- <th>Status</th> -->
                                <th>RZP Status</th>
                                <th>
                                    <i class="mdi mdi-arrow-up-bold" (click)="customSorting('up', 'rzp_date')"> </i>
                                    <i class="mdi mdi-arrow-down-bold" (click)="customSorting('down', 'rzp_date') ">
                                    </i>

                                    RZP Payment Date
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="PaymentList.length==0">
                            <tr *ngIf="!NoRecords">
                                <td class="text-center font-italic" colspan="16">Fetching records, please wait</td>
                            </tr>
                            <tr *ngIf="NoRecords">
                                <td class="text-center font-italic" colspan="16"> No payment records found </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="PaymentList.length!=0">
                            <tr *ngFor="let person of PaymentList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td (click)="open2(content2, person)"><strong>{{ person.job_orderId}}</strong></td>
                                <td>{{ person.sPName}} </td>
                                <td>{{ person.cName}} </td>

                                <!-- <td>{{ person.rzp_orderId}} </td> -->
                                <td>{{ person.rzp_paymentId}} </td>

                                <!-- <td>{{ person.rzp_method }}</td> -->

                                <td>{{ person.tax_percentage }}</td>
                                <td>{{ person.tax_percentage2 }}</td>
                                <td>{{ person.tax_percentage3 }}</td>
                                <td>₹{{ person.tax_amount }}</td>
                                <td><strong>₹{{ person.total_amount }}</strong></td>
                                <td>₹{{ person.company_commission }}</td>
                                <td>₹{{ person.provider_commission }}</td>
                                <td *ngIf="person.sp_paid==1"> <i class="mdi mdi-account-check text-success md-font">
                                    </i> </td>
                                <td *ngIf="person.sp_paid==0"> <i class="mdi mdi-close-box-outline text-danger md-font">
                                    </i>
                                </td>
                                <!-- <td>{{ person.status}} </td> -->
                                <td style="text-transform: uppercase;">{{ person.rzp_status}} </td>
                                <td>{{ person.rzp_date }}</td>
                                <td>
                                    <button *ngIf="person.rzp_status != 'refunded' " type="button"
                                        class="btn btn-primary btn-xs" (click)="Refund(person.rzp_orderId, 
                                        person.total_amount
                                        )">
                                        Refund
                                    </button>
                                    <button *ngIf="person.rzp_status == 'refunded' " type="button"
                                        class="btn btn-success btn-xs">
                                        Refunded
                                    </button>
                                    <a class="edit-icon" (click)="open4(content4, person)"> <i
                                            class="mdi mdi-pencil-box-outline"> </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content3 let-modal id="paymentModal">
    <form #addForm="ngForm" (ngSubmit)="SavePaymentRecords(addForm.value)">
        <div class="modal-header">
            <h4 class="modal-title">Add Payment Record</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Razorpay PaymentId</label>
                    <input type="text" name="rzp_payment_id" class="form-control" ngModel
                        placeholder="Enter Razorpay PaymentId" required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Order Id</label>
                    <input type="text" name="order_id" class="form-control" ngModel placeholder="Enter Order Id"
                        required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Order Amount</label>
                    <input type="number" name="order_amount" class="form-control" ngModel
                        placeholder="Enter Order Amount" required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Payment Type</label>
                    <select name="payment_mode" class="form-control" ngModel required
                        placeholder="Select Payment Method">
                        <option selected disabled>Select Payment Method</option>
                        <option value="QR Payment">QR Payment</option>
                        <option value="Cash Deposit">Cash Deposit</option>
                        <option value="Bank Transfer">Bank Transfer</option>
                    </select>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Payment Status</label>
                    <select name="rzp_status" class="form-control" ngModel required placeholder="Select Payment Status">
                        <option selected disabled>Select Payment Status</option>
                        <option value="captured">Captured</option>
                        <option value="authorized">Authorized</option>
                        <option value="failed">Failed</option>
                    </select>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!addForm.valid">Save</button>
            <button type="button" id="close_add" class="btn btn-inverse"
                (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </form>
</ng-template>



<ng-template #content4 let-modal id="paymentEditModal">
    <form #editForm="ngForm" (ngSubmit)="EditPaymentRecords(editForm.value)">
        <div class="modal-header">
            <h4 class="modal-title">Update Payment Record</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Razorpay PaymentId</label>
                    <input type="text" name="rzp_payment_id" class="form-control"
                        [(ngModel)]="PaymentDetailsEdit.rzp_paymentId" placeholder="Enter Razorpay PaymentId" required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Order Id</label>
                    <input type="text" name="order_id" class="form-control" [(ngModel)]="PaymentDetailsEdit.job_orderId"
                        placeholder="Enter Order Id" required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Order Amount</label>
                    <input type="number" name="order_amount" class="form-control"
                        [(ngModel)]="PaymentDetailsEdit.total_amount" placeholder="Enter Order Amount" required>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Payment Type</label>
                    <select name="payment_mode" class="form-control" [(ngModel)]="PaymentDetailsEdit.payment_mode"
                        required placeholder="Select Payment Method">
                        <option selected disabled>Select Payment Method</option>
                        <option value="QR Payment">QR Payment</option>
                        <option value="Cash Deposit">Cash Deposit</option>
                        <option value="Bank Transfer">Bank Transfer</option>
                    </select>
                </div>

                <div class="col-sm-6 col-md-6 col-xl-6 mb-10">
                    <label>Payment Status</label>
                    <select name="rzp_status" class="form-control" [(ngModel)]="PaymentDetailsEdit.rzp_status" required
                        placeholder="Select Payment Status">
                        <option selected disabled>Select Payment Status</option>
                        <option value="captured">Captured</option>
                        <option value="authorized">Authorized</option>
                        <option value="failed">Failed</option>
                    </select>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">Save</button>
            <button type="button" id="close_add" class="btn btn-inverse"
                (click)="modal.dismiss('Cross click')">Close</button>
        </div>
    </form>
</ng-template>



<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Payment Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="row details-content-view">
            <div class="col-sm-3 txt-details"> <strong>Customer Id:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.cId}} </div>

            <div class="col-sm-3 txt-details"><strong>Customer Name:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.cName}} </div>

            <div class="col-sm-3 txt-details"> <strong>Company Commission:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.company_commission}} </div>

            <div class="col-sm-3 txt-details"> <strong>Company Percentage:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.company_percentage}} </div>

            <div class="col-sm-3 txt-details"> <strong>Payment Id:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.id}} </div>

            <div class="col-sm-3 txt-details"> <strong>Order Id:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.job_orderId}} </div>

            <div class="col-sm-3 txt-details"> <strong>Provider Id:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.providerId}} </div>

            <div class="col-sm-3 txt-details"> <strong>Provider Commission:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.provider_commission}} </div>

            <div class="col-sm-3 txt-details"> <strong>Provider Commission:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.provider_percentage}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Card:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_card_id}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Trans. Date:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_date}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Description:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_description}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Email:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_email}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Method:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_method}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Mobile:</strong></div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_mobile}} </div>

            <div class="col-sm-3 txt-details"> <strong>Rzp OrderId:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_orderId}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Payment Id:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_payment}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Signature:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_signature}} </div>

            <div class="col-sm-3 txt-details"> <strong>RZP Status:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.rzp_status}} </div>

            <div class="col-sm-3 txt-details"> <strong>SP Name:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.sPName}} </div>

            <div class="col-sm-3 txt-details"> <strong>Status:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.status}} </div>

            <div class="col-sm-3 txt-details"> <strong>Tax Amount:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.tax_amount}} </div>

            <div class="col-sm-3 txt-details"> <strong></strong>CGST%:</div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.tax_percentage}} </div>

            <div class="col-sm-3 txt-details"> <strong>SGST%:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.tax_percentage2}} </div>

            <div class="col-sm-3 txt-details"> <strong>Tax Amount:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.taxable_amount}} </div>

            <div class="col-sm-3 txt-details"> <strong>Total Amount:</strong> </div>
            <div class="col-sm-3 txt-details"> {{PaymentDetails.total_amount}} </div>


        </div>

    </div>



    <div class="modal-footer"><button type="button" class="btn btn-inverse"
            (click)="modal.dismiss('Cross click')">Close</button></div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open2(content2)">Launch demo modal</button> -->