.provider-drop {
    width: 200px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    text-align: right;
    background: #ffffff;
    position: absolute;
    top: 30px;
    text-align: left;
    left: 31px;
    font-size: 12px;
    font-weight: 500;
}

.provider-drop p {
    border-bottom: 1px solid #e1e1e1;
}

.id-cursor {
    cursor: pointer;
}

.modal-heading {
    margin: auto;
}

.cls-btn {
    margin: 0;
    padding: 0.5rem;
}

.head-tag {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 5px;
}

.table-th {
    font-size: 14px;
    padding: 5px;
    font-weight: normal;
}

.table-td {
    font-size: 14px;
    padding: 5px;
}

.order-id {
    cursor: pointer;
}

.col-th {
    background: #fdfdfe;
    border: 1px solid #dee2e6;
    font-size: 14px;
    padding: 5px;
}

.col-td {
    font-size: 14px;
    border: 1px solid #dee2e6;
    padding: 5px
}

.payment-p {
    font-size: 14px;
    margin: auto;
}