<section class="content-header"></section>
<div class="row datatable-content-class custom-tables">


    <div class="col-xl-6 col-sm-12 col-md-6 col-xs-12">
        <div class="container-fluid">
            <div class="card small-input">
                <div class="card-header">
                    <h3 class="card-title">Pending Order Payments</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 mb-10">
                            <span>Amount For Clear</span>
                            <input disabled class="form-control" type="number" name="to_clear" [(ngModel)]="TotalPay">
                        </div>

                        <div class="col-xl-6 col-md-6 mb-10">
                            <span>From</span>
                            <input class="form-control" min="23/10/2021" type="date" name="fromDat"
                                [(ngModel)]="fromDate">
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <span>To</span>
                            <input class="form-control" type="date" name="toDat" [(ngModel)]="toDate">
                        </div>



                        <div class="col-xl-6 col-md-6">
                            <br>
                            <button type="button" class="btn btn-primary small-btn" (click)="PaySP()">Clear
                                Payment</button>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 col-xl-6 col-sm-12 col-md-6 col-xs-12">
        <div class="container-fluid">
            <div class="card small-input">
                <div class="card-header">
                    <h3 class="card-title">Account Details</h3>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-xl-6 col-md-6  mb-10">
                            <span>Account Name</span>
                            <input disabled class="form-control" type="text" name="acName"
                                [value]="providerAccount.ac_name">
                        </div>

                        <div class="col-xl-6 col-md-6 mb-10">
                            <span>Account Number</span>
                            <input disabled class="form-control" type="number" name="to_clear"
                                [value]="providerAccount.ac_number">
                        </div>

                        <div class="col-xl-6 col-md-6 mb-10">
                            <span>Bank Name</span>
                            <input disabled class="form-control" type="text" name="to_clear"
                                [value]="providerAccount.bank">
                        </div>

                        <div class="col-xl-6 col-md-6 mb-10">
                            <span>Bank Branch</span>
                            <input disabled class="form-control" type="text" name="to_clear"
                                [value]="providerAccount.branch">
                        </div>

                        <div class="col-xl-6 col-md-6 mb-10">
                            <span>Bank IFSC</span>
                            <input disabled class="form-control" type="text" name="to_clear"
                                [value]="providerAccount.ifsc">
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Clearance Orders</h3>
                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width: 50px;">Sr. No</th>
                                <th style="width: 60px;">Order Id</th>
                                <th>Service Name</th>
                                <th>Paid</th>
                                <th>CSGT%</th>
                                <th>SGST%</th>
                                <th>+ Tax</th>
                                <th>Total</th>
                                <th>Company Commission</th>
                                <th>Provider Commission</th>
                                <th>Create Date</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="OrderList.length!=0">
                            <tr *ngFor="
                                let person of OrderList;
                                let i = index
                            ">
                                <td>{{ i + 1 }}</td>
                                <td>{{ person.orderId}} </td>
                                <td>{{ person.name}} </td>
                                <td *ngIf="person.sp_paid == 0"> <i class="mdi mdi-close icon-status text-warning"></i>
                                </td>
                                <td *ngIf="person.sp_paid == 1"> <i class="mdi mdi-check icon-status text-success"></i>
                                </td>
                                <td>{{ person.tax_percentage }}</td>
                                <td>{{ person.tax_percentage2 }}</td>
                                <td>₹{{ person.tax_amount }}</td>
                                <td><strong>₹{{ person.total_amount }}</strong></td>
                                <td>₹{{ person.company_commission }}</td>
                                <td>₹{{ person.provider_commission }}</td>
                                <td>{{ person.created_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>




</div>